*{
  box-sizing: border-box;
}
#root{
  min-height:100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #706d6d;
}
#header{
  padding: 0.5% 2% 0.5% 2%;
  background-color: #252424;
  margin-bottom: 1%;
}
#header i, #header a{
  color: #e46e0d;
}
#header i:hover, #header a:hover{
  transform: scale(1.05);
}
.navbar-brand{
  align-items: center;
  display: flex;
  gap: 3%;
}
.navbar-brand:hover{
  cursor: pointer;
}
.fa-cart-shopping{
  padding-top: 3%;
}
#homeTitle{
  margin: 2% 0 2% 0;
  text-align: center;
}
#categories{
  display: grid;
  align-items: center;
  padding: 0 2% 0 2%;
  background-color: #706d6d;
}
.row{
  height: 100%;
  background-color: #706d6d;
}
.categories-column{
  align-items: center;
  display: grid;
  text-align: center;
  margin-bottom: 1%;
}
.categories-column .card{
  height: 100%;
  border: 1px solid #252424;
}
.categories-column .card:hover{
  transform: scale(1.05);
}
.categories-column .card-header{
  background-color: #252424;
  border-color: 2px solid #252424;
  color: #e46e0d;
}
.categories-column .card-body{
  background-color: #ccc7c7;
  padding: 0;
  display: flex;
  align-items: center;
  height: 32vh;
}
.card-image{
  width: 100%;
  margin: auto;
  height: 28vh;
}
#japaneseCard .card-image{
  padding: 0 2% 0 2%;
}
#drinkCard .card-image{
  padding: 3%;
}
.itemPage{
  display: grid;
  grid-template-rows: 1fr 9fr;
}
#categoriesSelect{
  display: flex;
  gap: 1%;
  min-width: 90vw;
}
#categoriesSelect .btn{
  border-radius: 10vw;
  border: 2px solid black;
  background-color: #252424;
  color: #e46e0d;
  font-size: 3vh;
  font-weight: 500;
  width: 8vw;
}
#categoriesSelect .btn:hover{
  transform: scale(1.05);
  border: 2px solid black;
  background-color: #252424;
  color: #e46e0d;
}
.itemOptions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  padding: 0;
  background-color: #706d6d;
}
.itemOptions .card{
  height: 80vh;
  max-width: 30vw;
  min-width: 30vw;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 2.5fr 1fr;
}
.itemOptions .card-body{
  display: grid;
  align-items: center;
  padding: 0;
  background-color: #ccc7c7;
}
.itemOptions .card-image{
  height: 52vh;
}
.itemOptions .card-footer{
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-top: 2px solid black;
  text-align: center;
  padding: 2% 1% 2% 1%;
  background-color: #252424;
  color: #e46e0d;
}
.itemOptions .card-footer h3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0;
}
.buyItem{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.buyItem .btn {
  border-radius: 10vw;
  margin: auto;
  font-size: 0.8rem;
  padding: 2%;
  height: 6vh;
  color: #e46e0d;
  border-color: #e46e0d;
}
.buyItem .btn:hover{
  color: #e46e0d;
  border-color: #e46e0d;
}
.buyItem input:checked+.btn{
  color: #252424;
  background-color: #e46e0d;
  border-color: #252424;
}
.sizes:hover{
  transform: scale(1.015);
}
.cartBtn{
  background-color: #e46e0d;
  color: #252424 !important;
  border-color: #252424 !important;
}
.cartBtn:hover{
  transform: scale(1.1);
  background-color: #e46e0d;
  color: #252424 !important;
  border-color: #252424 !important;
}
.cartList{
  background-color: #252424;
  color: #e46e0d;
  display: grid;
  padding: 2.5%;
  gap: 1.5%;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 10vh;
}
.cartList h1{
  text-align: center;
  margin-bottom: 3%;
}
#cartItens{
  display: grid;
}
#cartItem{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 7fr 2fr 2fr 1fr;
  justify-content: center;
  gap: 3%;
}
#cartItem h3{
  font-size: 100%;
}
#quantity{
  display: flex;
  gap: 25%;
}
.cartList button{
  font-size: 3vw;
  border-radius: 20vh;
  width: 15%;
  margin: 2% auto auto auto;
  background-color: #e46e0d;
  color: #252424;
  border-color: #252424;
}
.cartList button:hover{
  transform: scale(1.1);
  background-color: #e46e0d;
  color: #252424;
  border-color: #252424;
}
.cartList button:active{
  background-color: #e46e0d !important;
  color: #252424 !important;
  border-color: #252424 !important;
}
#cartTotal{
  margin-top: 3%;
}
.modal-content{
  background-color: #252424;
  color: #e46e0d;
}
#confirmButton, #closeButton{
  background-color: #e46e0d;
  border-color: #e46e0d;
  color: #252424;
}
#noButton{
  background-color: #706d6d;
  color: #252424;
}
.btn-close{
  background-color: #e46e0d;
  opacity: 1;
}
.Toastify__toast{
  color: #e46e0d;
  border: 2px solid #e46e0d;
  border-radius: 10vw;
  text-align: center;
}
@media screen and (max-width:576px) and (orientation:portrait){
  #root{
    gap: 1%;
  }
  #header{
    padding: 0 3% 0 3%;
    height: 5vh;
  }
  #navbarHeader{
    width: 95%;
    padding: 0;
    justify-content: space-between;
  }
  #header i, #header a{
    font-size: 95%;
  }
  .navbar-brand{
    margin: 0;
  }
  #categories{
    width: 100%;
  }
  .row{
    margin: auto;
  }
  .categories-column{
    margin-bottom: 4%;
  }
  .card-header h3{
    margin: 0;
  }
  .itemPage{
    grid-template-rows: auto 9fr;
  }
  #categoriesSelect{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
  }
  #categoriesSelect .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75%;
    flex-basis: calc(33% - 10px);
    height:45%;
    white-space: nowrap;
    padding: 2%;
  }
  .itemOptions{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 0;
  }
  .itemOptions .card{
    margin: 2% 0 2% 0;
    grid-template-rows: 2fr 1fr;
    height: 70vh;
    min-width: 90vw;
    max-width: 90vw;
  }
  
  .itemOptions .card-image{
    width: 100%;
    height: 40vh;
  }
  .itemOptions .card-footer{
    display: grid;
    padding: 2%;
    gap: 1%;
  }
  .itemOptions .card-footer h3{
    font-size: 1.6rem;
  }
  .buyItem{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
  }
  .itemOptions .btn{
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 4%
  }
  .cartList{
    width: 95vw;
  }
  .cartList h1{
    margin-bottom: 5%;
  }
  .cartList .btn{
    margin-top: 3%;
    width: 20vw;
    font-size: 5vw;
  }
  #cartItens h3{
    margin-bottom: 5%;
    font-size: 1.8vh;
    white-space: nowrap;
  }
}
@media screen and (min-width:576px) and (max-width:1024px) and (orientation:portrait){
  #root{
    gap: 1%;
  }
  #header{
    height: 7vh;
  }
  #header i, #header a{
    font-size: 2.5vh;
  }
  .categories-column{
    margin-bottom: 0;
  }
  .categories-column .card{
    height: 90%;
  }
  .categories-column .card-header h3{
    margin: 0;
  }
  #categoriesSelect{
    margin-bottom: 2%;
    min-width: 100vw;
  }
  #categoriesSelect .btn{
    font-size: 2vh;
    width: 10vw;
  }
  .itemOptions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 2%;
    width: 100vw;
    max-width: 100vw;
  }
  .itemOptions .card{
    min-width: 47vw;
    height: 39vh;
  }
  .itemOptions .card-image{
    width: 100%;
    height: 25vh;
  }
  .itemOptions .card-footer{
    padding: 1%;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }
  .itemOptions .card-footer h3{
    font-size: 1.7rem;
    margin-bottom: 0;
  }
  .buyItem{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    width: 100%;
  }
  .itemOptions .btn{
    font-size: 2.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 1% 0 1%
  }
  .sizes label{
    white-space: nowrap;
  }
  .cartBtn{
    padding: 0 5% 0 5% !important; 
  }
  .cartList{
    padding: 3%;
  }
  .cartList h1{
    margin-bottom: 5%;
    font-size: 5vh;
  }
  .cartList .btn{
    margin-top: 4%;
    width: 20vw;
    font-size: 5vw;
  }
  #cartItens h3{
    margin-bottom: 5%;
    width: 100%;
    font-size: 1.7vh;
    white-space: nowrap;
  }
}
@media screen and (min-width:1920px){
  #header{
    height: 7vh;
  }
  #header i, #header a{
    font-size: 3vh;
  }
  .categories-column .card-image{
    height: 100%;
  }
  .categories-column .card{
    height: 40vh;
  }
  .card-header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-header h3{
    font-size: 4.5vh;
    font-weight: 500;
  }
  .categories-column .card-body{
    height: 70%;
  }
  #drinkCard .card-image{
    padding: 1.5%;
  }
  .itemOptions .card-footer h3{
    font-size: 4.5vh;
    font-weight: 500;
  }
  .buyItem .btn{
    font-size: 2.5vh;
    font-weight: 300;
  }
  .cartBtn{
    font-size: 3vh !important;
    padding: 1% 3% 1% 3% !important;
  }
}
@media screen and (max-height: 576px) and (orientation: landscape){
  .itemPage{
    grid-template-rows: 0.5fr 9fr;
    height: 85vh;
  }
  #categoriesSelect{
    height: 10vh;
  }
  #categoriesSelect .btn{
    width: 15vw;
    font-size: 60%;
  }
  .itemOptions{
    min-width: 100vw;
    gap: 1.5%;
    margin-top: 1%;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }
  .itemOptions .card{
    margin-bottom: 1%;
    height: 70vh;
    min-width: 25vw;
    max-width: 25vw;
    grid-template-rows: 2fr 1fr;
  }
  .itemOptions .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .itemOptions .card-image{
    height: 40vh;
  }
  .itemOptions .card-footer{
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 2%;
  }
  .itemOptions .card-footer h3{
    font-size: 1rem;
  }
  .itemOptions .btn{
    font-size: 60%;
    white-space: nowrap;
    margin: auto;
    padding: 1% 2% 1% 2%;
  }
}
@media screen and (max-height:576px) and (max-width:767px) and (orientation:landscape){
  #root{
    gap: 1%;
  }
  .categories-column{
    height: 70vh;
    margin-bottom: 3%;
  }
  .categories-column .card{
    height: 100%;
    width: 70%;
    padding: 0;
    margin: auto;
  }
  .categories-column .card-body{
    padding: 0;
  }
  .categories-column .card-image{
    width: 60vw;
    height: 50vh;
  }
}
@media screen and (max-height:576px) and (min-width:767px) and (orientation:landscape){
  .categories-column{
    height: 70vh;
    margin-bottom: 2%;
  }  
}
@media screen and (min-width:1024px) and (max-width:1368px) and (orientation:landscape){
  .itemOptions h3{
    margin: 0;
  }
  .itemOptions .card-footer{
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
  }
  .buyItem{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 15%;
    align-items: center;
  }
  .itemOptions .btn{
    font-size: 2.5vh;
    white-space: nowrap;
  }
}