*{
  box-sizing: border-box;
}
#root{
  min-height:100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 3%;
}
#header{
  padding: 0.5% 2% 0.5% 2%;
  background-color: #e46e0d;
}
#header i, #header a{
  color: #fff;
}
.navbar-brand{
  align-items: center;
  display: flex;
  gap: 3%;
}
.navbar-brand:hover{
  cursor: pointer;
}
.fa-cart-shopping{
  padding-top: 3%;
}
#homeTitle{
  margin: 2% 0 2% 0;
  text-align: center;
}
#categories{
  display: grid;
  align-items: center;
  padding: 0;
}
.row{
  height: 100%;
}
.categories-column{
  align-items: center;
  display: grid;
  text-align: center;
  margin-bottom: 2%;
}
.categories-column .card{
  height: 275px;
  border: 2px solid black;
}
.categories-column .card:hover{
  transform: scale(1.1);
}
.categories-column .card-body{
  border-top: 2px solid black;
  padding: 3% 0 3% 0;
}
.card-image{
  width: 100%;
  margin: auto;
  height: 200px;
}
.itemPage{
  display: grid;
  grid-template-rows: 1fr 9fr;
}
#categoriesSelect{
  display: flex;
  gap: 1%;
}
#categoriesSelect .btn{
  border-radius: 10vw;
  border: 2px solid black;
  color: #fff;
  font-size: 1.5vw;
}
.itemOptions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  padding: 0;
}
.itemOptions .card{
  height: 90%;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 2.5fr 1fr;
}
.itemOptions .card-body{
  padding: 0;
}
.itemOptions .card-image{
  height: 100%;
}
.itemOptions .card-footer{
  border-top: 2px solid black;
  text-align: center;
}
.buyItem{
  display: grid;
  gap: 1%;
  grid-template-columns: 1fr 1fr;
}
.buyItem .btn {
  border-radius: 10vw;
}
.cartBtn:hover, .sizes:hover, #categoriesSelect button:hover{
  transform: scale(1.1);
}
.cartList{
  display: grid;
  padding: 2.5%;
  gap: 1.5%;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 10vh;
}
.cartList h1{
  text-align: center;
}
#cartItens{
  display: grid;
}
#cartItem{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  justify-content: center;
  gap: 5%;
}
#cartItem h3{
  font-size: 2.1vw;
}
#quantity{
  display: flex;
  gap: 25%;
}
.cartList button{
  font-size: 3vw;
  border-radius: 20vh;
  width: 15%;
  margin: 2% auto auto auto;
}
#confirmButton, #closeButton{
  background-color: #e46e0d;
  border-color: #e46e0d;
}